h1 {
    color: rgb(253, 129, 81);
    font-weight: bold;
    text-decoration: underline;
}


body {
    background-color: rgba(230, 213, 213, 0.911);
    font-family: sans-serif, Arial;

}

img {
    height: auto;
    width: 400px;
}

